@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary-color: #34495e;
  --secondary-color: #95a5a6;
  --secondary-darker: #7f8c8d;
  --border-color: #bdc3c7;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color),
    var(--secondary-darker)
  );
  background-size: 600% 600%;
  animation: gradient-animation 25s ease infinite;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

main {
  background-color: #f5f5f5;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  margin: 1rem;
  padding: 4rem 4rem;
  text-align: center;
  width: 90%;
  max-width: 600px;
}

#amount-div,
#currency-select-div {
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

label,
input,
select,
button {
  margin-bottom: 10px;
}

input,
select {
  border: 1.5px solid var(--border-color);
  border-radius: 5px;
  width: 150px;
}

#convert-btn {
  background-color: var(--secondary-color);
  color: black;
  font-weight: bold;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.3s;
}

#convert-btn:hover {
  background-color: var(--secondary-darker);
  outline: 0;
}
#convert-btn:active {
  transform: scale(0.98);
}

#result {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 20px;
  color: var(--primary-color);
}

#error {
  color: red;
}
